
<mat-vertical-stepper [linear]="false">
    <h2>I DISPOSITIONS GÉNÉRALES</h2>
  <mat-step label="Article 1 - DÉNOMINATION SOCIALE"  [completed]="false">
    <p>
    L'organisme possède deux dénominations sociales qu'il peut utiliser selon ses besoins :
    a) L'Association des constituants et constituantes du Québec 2020, à laquelle
    est rattaché l'acronyme "ACCQ 2020";
    b) L'Alliance pour une constituante citoyenne du Québec, à laquelle est
    rattaché l'acronyme "ACCQ".

    Dans les présents règlements, les mots "organisme" ou "organisation" désignent
    l’Association des constituants et constituantes du Québec 2020.
    L'organisme entend exercer ses activités sur le territoire du Québec et, s'il y est invité, il
    conserve la liberté d'être aussi actif ailleurs.
</p>
  </mat-step>
  <mat-step label="Article 2 - TERRITOIRE ET SIÈGE SOCIAL" [editable]="true" [completed]="false"  >
    <p>
        L’organisme exerce ses activités sur le territoire de la ville de Windsor et est sis au 34-
        70, rue Jean-XXIII, à Windsor, Québec, Canada, J1S 2A8 ou à tout autre endroit
        désigné par le conseil d’administration.
    </p>

  </mat-step>
  <mat-step label="Article 3 - SCEAU DE L’ORGANISME"  [completed]="false">
      <p>
          Le sceau de l’organisme, dont la forme est déterminée par le conseil d’administration, ne
          peut être employé qu’avec le consentement du président ou du secrétaire. Il est
          authentifié par la signature du président ou du secrétaire.
      </p>

    </mat-step>
    <mat-step label="Article 4 - BUT"  [completed]="false">
        <p>
            Le but de l'organisme est de promouvoir le projet d'une constituante citoyenne ouverte,
            souveraine et non partisane, ayant comme mandat la rédaction d'une constitution par et
            pour le peuple.
        </p>

      </mat-step>

    <h2>II MEMBRES</h2>

    <mat-step label="Article 5 - CATÉGORIES DE MEMBRES"  [completed]="false">
      <p>
          L’organisme compte deux (2) catégories de membres, soit les membres en règle et les
          membres honoraires. Il peut prévoir ajouter d’autres catégories de membres.
          5.1 Un membre est en règle quand il se conforme à l'Article 6.
          5.2 Un membre honoraire est un membre conformément à l'Article 7.
  </p>
    </mat-step>
    <mat-step label="Article 6 - MEMBRE EN RÈGLE"  [completed]="false">
      <p>
          Tout individu intéressé par les buts et activités de l’organisme peut devenir membre en
          règle en se conformant aux conditions suivantes :
          a) Appuyer la mission de l'organisme;
          b) Avoir signé le manifeste;
          c) Adhérer à la charte de déontologie de l'organisme;
          d) Respecter les statuts et règlements de l'organisme;
          e) Avoir 16 ans et plus;
          f) Être résident du territoire du Québec;
          g) Œuvrer à la poursuite des buts de l’organisme;
          h) Payer la cotisation annuelle prévue à l'Article 8;
          i) Participer, à chaque fois qu’il lui est possible, aux activités;
          j) Satisfaire à toute autre condition que peut décréter le conseil
          d’administration par voie de règlement.
          Un membre en règle a le droit de participer à toutes les activités de l’organisme,
          d’assister à une assemblée annuelle ou extraordinaire et d’y voter, le cas échéant.
      </p>

    </mat-step>
    <mat-step label="Article 7 - MEMBRE HONORAIRE"  [completed]="false">
        <p>
            Le conseil d’administration, l'assemblée annuelle ou une assemblée extraordinaire peut
            en tout temps, par résolution, nommer membre honoraire de l’organisme, tout individu
            qui aura rendu service à ce dernier par son travail ou par ses donations, ou qui aura
            manifesté son appui aux buts poursuivis par l’organisme.
            Un membre honoraire :
            a) Peut participer aux activités de l’organisme et assister aux assemblées;
            b) N’a pas le droit de vote lors d'une assemblée;
            c) Ne peut être élu au conseil d’administration;
            d) N'est pas tenu de verser des cotisations ou contributions à l’organisme.
        </p>

      </mat-step>
      <mat-step label="Article 8 - COTISATION ANNUELLE"  [completed]="false">
          <p>
              Une assemblée fixe la cotisation annuelle de même que les modalités de paiement qui y
              sont associées.
              8.1 Entre deux assemblées, le conseil d’administration peut, de temps à autre, fixer
              le droit d’adhésion et la cotisation annuelle des membres en règle de même que
              les modalités de paiement.
              8.2 Un avis concernant tout changement à la cotisation et/ou aux modalités de
              paiement doit être signifié aux membres au moins trente (30) jours avant son
              entrée en vigueur.
              8.3 La cotisation est fixée à dix dollars (10 $) par année.
              8.4 La cotisation est fixée à vingt cinq dollars (25 $) pour une période de trois (3)
              ans.
          </p>

        </mat-step>
        <mat-step label="Article 9 - CARTE DE MEMBRE"  [completed]="false">
            <p>
                Le conseil d’administration pourra, s’il le juge à propos, mettre en place tout système
                d'identification.
            </p>

          </mat-step>
          <mat-step label="Article 10 - RETRAIT D’UN MEMBRE"  [completed]="false">
              <p>
                  Tout membre peut se retirer en tout temps en signifiant son retrait ou sa démission, de
                  préférence par écrit, au secrétaire de l’organisme. Ce retrait ou cette démission prend
                  effet à la date de réception dudit avis ou à la date précisée dans ledit avis. Il n'a droit à
                  aucun remboursement du droit d’adhésion ou de cotisation.
              </p>

            </mat-step>
            <mat-step label="Article 11 - RADIATION, SUSPENSION, EXPULSION"  [completed]="false" >
                <p>
                    Le conseil d’administration peut, par résolution, radier tout membre qui omet de verser
                    (s’il y a lieu) la cotisation à laquelle il est tenu. Il peut aussi, par résolution, suspendre ou
                    expulser pour une période qu’il détermine ou encore radier définitivement tout membre
                    qui refuse ou omet de se conformer aux dispositions des présents règlements, qui agit
                    contrairement aux intérêts de l’organisme ou dont la conduite est jugée préjudiciable à
                    l’organisme.
                    11.1 Constitue notamment une conduite préjudiciable le fait :
                    a) D’avoir été condamné pour une infraction infamante au Code criminel;
                    b) De critiquer de façon intempestive et répétée l’organisme ou l'un de ses
                    membres;
                    c) De porter des accusations fausses et mensongères à l’endroit de l’organisme
                    ou l'un de ses membres;
                    d) S'il est administrateur de l'organisme, d’enfreindre les lois relatives aux
                    personnes morales ou de manquer à ses obligations.

                    11.2 Le conseil d’administration est autorisé à établir en cette matière la procédure à
                    suivre.
                    11.3 Le membre visé doit :
                    a) Être informé de la nature exacte de l’acte ou de l’omission qu’on lui reproche;
                    b) Avoir l’occasion de se faire entendre sur ce sujet.
                    11.4 Le conseil d'administration doit rendre une décision impartiale.
                    11.5 La décision du conseil d’administration peut être contestée par une résolution
                    présentée à l'assemblée annuelle suivante.
                    11.6 La décision de l'assemblée annuelle est finale et sans appel dans un tel cas.
                </p>

              </mat-step>


    <h2>III ASSEMBLÉES DES MEMBRES</h2>

    <mat-step label="Article 12 - ASSEMBLÉE ANNUELLE"  [completed]="false">
      <p>
          L’assemblée annuelle des membres de l’organisation a lieu à la date fixée par le conseil
          d’administration chaque année, autant que possible dans les cent vingt (120) jours qui
          suivent la fin de l’exercice financier de l’organisation. L’assemblée annuelle est tenue au
          siège social de l’organisation ou à tout autre endroit fixé par le conseil d’administration.
          Toute assemblée annuelle peut aussi constituer une assemblée extraordinaire pour
          prendre connaissance et disposer de toute affaire dont peut être saisie une assemblée
          extraordinaire. Dans un tel cas, tous les travaux de l'assemblée annuelle sont
          suspendus lors de ladite assemblée extraordinaire.
  </p>
    </mat-step>
    <mat-step label="Article 13 - ASSEMBLÉE EXTRAORDINAIRE"  [completed]="false">
      <p>
          13.1 Le conseil d'administration est tenu de convoquer pareille assemblée dans les
          dix (10) jours de la réception d'une demande écrite à cette fin. Ladite demande
          doit spécifier le sujet d’une telle assemblée et être signée par au moins le
          dixième (1/10) des membres en règle, à défaut par le conseil d’administration de
          convoquer une telle assemblée dans le délai stipulé, celle-ci peut être convoquée
          par le ou les signataires de la demande écrite (art. 99, L.C.Q.).
          13.2 Une assemblée extraordinaire est convoquée pour :
          a) Changer les objets et les pouvoirs de l'organisme;
          b) Changer la dénomination sociale de l'organisme;
          c) Changer la localité du siège social de l'organisme;
          d) Changer le nombre d'administrateurs de l'organisme;
          e) Emprunter et donner des garanties;
          f) Créer un comité exécutif lorsque le conseil d’administration est de plus de
          neuf (9) membres. De facto, en sont membres tous les membres du conseil
          d’administration et tout individu nommé par ce dernier;
          g) Traiter une résolution concernant la destitution d'un administrateur;
          h) Traiter de tout autre sujet ayant une incidence sur l'avenir de l'organisme.
          13.3 Tout sujet est tranché aux deux tiers (2/3) des voix exprimées.
          13.4 Cette assemblée peut être convoquée par le conseil d'administration ou par un
          membre en règle.
          13.5 Le président du conseil d'administration émet la convocation à une assemblée
          extraordinaire.
          13.6 Cette assemblée est tenue à l’endroit fixé par le conseil d’administration ou par le
          membre qui a demandé la convocation de cette assemblée, si le conseil
          d'administration ne s'est pas prononcé sur le sujet.
      </p>

    </mat-step>
    <mat-step label="Article 14 - AVIS DE CONVOCATION"  [completed]="false">
        <p>
            14.1 L’avis de convocation à toute assemblée annuelle est adressé à tous les
            membres qui ont droit d'y assister. Le délai de convocation des assemblées des
            membres est d’au moins dix (10) jours calendrier. Toutefois, l’assemblée
            annuelle peut, par règlement, fixer toute autre modalité de convocation.
            14.2 L’avis de convocation d’une assemblée extraordinaire devra respecter un délai
            d’au moins soixante-douze (72) heures et mentionner, en plus de la date, de
            l’heure et de l’endroit de l’assemblée, le sujet qui y sera étudié. Aucun autre sujet
            ne pourra y être traité.
            14.3 Une assemblée pourra être tenue sans avis préalable si tous les membres sont
            présents ou si les absents ont donné leur consentement à la tenue d’une telle
            assemblée sans avis. La présence d’un membre à une assemblée couvre le

            défaut d’avis quant à ce membre. L’omission accidentelle de cet avis ou la non-
            connaissance de cet avis par tout membre n’a pas pour effet de rendre nulles les

            résolutions adoptées à cette assemblée.
        </p>

      </mat-step>


    <mat-step label="Article 15 - ORDRE DU JOUR"  [completed]="false">
        <p>
            15.1 L’ordre du jour de l’assemblée annuelle doit contenir au minimum les points
            suivants :
            a) L’acceptation des rapports (d’activités et financiers) et des procès‐verbaux de
            la dernière assemblée générale;
            b) L’approbation du budget;
            c) La nomination d’un vérificateur (s’il y a lieu);
            d) La ratification des règlements (nouveaux ou modifiés) adoptés par le conseil
            d’administration depuis la dernière assemblée générale;
            e) L’élection ou la réélection des administrateurs de l’organisme.
            15.2 L’ordre du jour de toute assemblée doit minimalement porter sur les points
            mentionnés dans l’avis de convocation.
        </p>

      </mat-step>
      <mat-step label="Article 16 - QUORUM"  [completed]="false">
          <p>
              16.1 Les membres présents à l’ouverture constituent le quorum pour toute assemblée
              des membres. Le quorum doit être maintenu durant toute l’assemblée.
              16.2 Il est aussi possible de prévoir un nombre fixe de membres nécessaires à la
              tenue de toute assemblée.
          </p>

        </mat-step>
        <mat-step label="Article 17 - AJOURNEMENT"  [completed]="false">
            <p>
                Si au moins deux (2) membres sont présents, une assemblée des membres peut être
                ajournée en tout temps par suite d'un vote majoritaire à cet effet, et cette assemblée
                peut être tenue comme ajournée sans qu’il soit nécessaire de la convoquer de nouveau.
                Lors de la reprise de l’assemblée ajournée, toute affaire qui aurait pu être transigée lors
                de l’assemblée au cours de laquelle l’ajournement fut voté peut être validement
                transigée.
            </p>

          </mat-step>
          <mat-step label="Article 18 - PRÉSIDENT ET SECRÉTAIRE D’ASSEMBLÉE"  [completed]="false">
              <p>
                  De façon générale, le président ou tout autre officier de l’organisme préside l’assemblée
                  annuelle et toute assemblée extraordinaire. Toutefois, il est possible pour les membres
                  présents de désigner entre eux un président d’assemblée. Le secrétaire de l’organisme
                  ou toute autre personne nommée à cette fin par le conseil d’administration ou élue par
                  les membres présents peut agir comme secrétaire de l'assemblée.
              </p>

            </mat-step>
            <mat-step label="Article 19 - VOTE"  [completed]="false">
                <p>
                    19.1 À une assemblée des membres, les membres en règle présents, y compris le
                    président d’assemblée, ont droit à une voix chacun.
                    19.2 Le vote par procuration n’est pas permis.
                    19.3 À moins de stipulation contraire dans la loi ou les présents règlements, toutes les
                    questions soumises à l’assemblée des membres sont tranchées à la majorité
                    simple (50 % + 1) des voix validement exprimées, bien que le principe du
                    consensus soit recherché.
                    19.4 Le vote se prend à main levée, à moins que trois (3) membres présents
                    réclament le scrutin secret. Dans ce cas, le président d’assemblée nomme un (1)
                    ou deux (2) scrutateurs qui distribuent et recueillent les bulletins de vote,
                    compilent les résultats et les remettent au président.
                    19.5 Lorsque le président de l’assemblée déclare qu’une résolution a été adoptée à
                    l’unanimité, par une majorité spécifiée, ou rejetée, et qu’une entrée est faite à cet
                    effet dans le procès-verbal de l’assemblée, il s’agit là d’une preuve suffisante de
                    l’adoption ou du rejet de cette résolution sans qu’il soit nécessaire d’établir le
                    nombre ou la proportion des voix exprimées.
                </p>

              </mat-step>



  <h2>IV CONSEIL D’ADMINISTRATION</h2>


      <mat-step label="Article 20 - NOMBRE D’ADMINISTRATEURS"  [completed]="false">
        <p>
            Les affaires de l’organisme sont administrées par un conseil d’administration composé
            de onze (11) membres.
    </p>
      </mat-step>
      <mat-step label="Article 21 - ÉLIGIBILITÉ"  [completed]="false">
        <p>
            Tout membre en règle a droit de vote et peut être élu au conseil d’administration. Les
            administrateurs sortants de charge sont rééligibles.
        </p>

      </mat-step>
      <mat-step label="Article 22 - DURÉE DES FONCTIONS"  [completed]="false">
          <p>
              Chaque administrateur entre en fonction à la clôture de l’assemblée au cours de laquelle
              il a été nommé ou élu. La durée du mandat est de trois (3) ans, mais le tiers (1/3) des
              postes doivent être remplacés chaque année.
              22.1 Par dérogation à l'Article 22, lors le l'assemblée de fondation, quatre (4) postes
              auront un terme réduit à deux (2) ans et trois (3) postes auront un terme réduit à
              un (1) an. Lors de leur seconde élection, ces postes verront leur terme rajusté à
              trois (3) ans. Cet exercice vise à faciliter la passation des fonctions.
          </p>

        </mat-step>
        <mat-step label="Article 23 - ÉLECTION"  [completed]="false">
            <p>
                L’assemblée nomme ou élit un président d’élection et un secrétaire d’élection.
                23.1 S'il n’y a pas plus de candidats que le nombre d’administrateurs à élire, l’élection
                aura lieu par acclamation.
                23.2 S'il y a plus de candidats que d’administrateurs à élire, l’élection pourra se faire à
                main levée ou par scrutin secret ou tout autre mécanisme adopté par
                l'assemblée. Dans un tel cas, des scrutateurs seront désignés par l'assemblée.
            </p>

          </mat-step>
          <mat-step label="Article 24 - RETRAIT D’UN ADMINISTRATEUR"  [completed]="false">
              <p>
                  Cesse de faire partie du conseil d’administration et d’occuper sa fonction, tout
                  administrateur qui :
                  a) Présente, préférablement par écrit, sa démission au conseil
                  d’administration, soit au président ou au secrétaire de l’organisme, soit lors
                  d’une assemblée du conseil d’administration;
                  b) Décède, est malade, devient insolvable ou interdit;
                  c) Cesse de posséder les qualifications requises selon l'Article 6;
                  d) A été absent à trois (3) réunions consécutives de l’organisme sans motifs
                  valables.
              </p>

            </mat-step>
            <mat-step label="Article 25 - VACANCES"  [completed]="false">
                <p>
                    Lorsqu’une vacance survient au sein du conseil d’administration, il est de la discrétion
                    des administrateurs demeurant en fonction de la combler en nommant un membre en
                    règle au poste vacant par intérim. Dans l’intervalle, ils peuvent validement continuer à
                    exercer leurs fonctions, du moment qu’un quorum subsiste. Si le quorum n’existe plus,
                    un membre du conseil, ou, à défaut, un membre peut convoquer une assemblée
                    extraordinaire pour procéder aux élections.
                </p>

              </mat-step>
              <mat-step label="Article 26 - DESTITUTION"  [completed]="false">
                  <p>
                      26.1 Un administrateur peut être destitué conformément à l'Article 13 et/ou à l'Article
                      24.
                      26.2 Le conseil d’administration peu radier, expulser ou suspendre un membre de
                      l'organisme en conformité avec l'Article 6 et/ou l'Article 11, ou retirer un
                      administrateur en vertu de l’Article 24 du présent règlement.
                  </p>

                </mat-step>
                <mat-step label="Article 27 - RÉMUNÉRATION"  [completed]="false">
                    <p>
                        Les administrateurs ne sont pas rémunérés pour leurs services.
                    </p>

                  </mat-step>
                  <mat-step label="Article 28 - INDEMNISATION"  [completed]="false">
                      <p>
                          28.1 Tout administrateur, dirigeant ou mandataire de l’organisme (ou ses héritiers et
                          ayants droit) sera tenu, au besoin et à toute époque, à même les fonds de
                          l’organisme, indemne et à couvert :
                          a) De tous frais, charges et dépenses quelconques que cet administrateur
                          supporte ou subit au cours ou à l’occasion d’une action, poursuite ou
                          procédure intentée contre lui, à l’égard ou en raison d’actes faits ou choses
                          accomplies ou permises par lui dans l’exercice ou pour l’exécution de ses
                          fonctions, et
                          b) De tous frais, charges et dépenses autorisés par les membres du conseil
                          d'administration qu’il supporte ou subit au cours ou à l’occasion des affaires
                          de l’organisme ou relativement à ces affaires, excepté tout ce qui résulte de
                          sa propre négligence ou de son omission volontaire.

                          28.2 Aux fins de l’acquittement de ces sommes, l’organisme devrait souscrire une
                          assurance au profit de ses administrateurs, dirigeants ou mandataires.
                      </p>

                    </mat-step>
                    <mat-step label="Article 29 - CONFLITS D’INTÉRÊTS"  [completed]="false">
                        <p>
                            29.1 Un administrateur ne peut confondre aucun bien de l’organisme avec les siens ni
                            utiliser à son profit ou au profit d’un tiers des biens de l’organisme ou
                            l’information qu’il obtient en raison de ses fonctions, à moins qu’il soit
                            expressément et spécifiquement autorisé à le faire par une résolution à une
                            assemblée.
                            29.2 Chaque administrateur doit éviter de se placer en situation de conflit et
                            d'apparence de conflit entre son intérêt personnel et ses obligations
                            d’administrateur de l’organisme. Il doit dénoncer sans délai à l’organisme tout
                            intérêt qu’il possède dans une entreprise ou une association susceptible de le
                            placer en situation de conflit d’intérêts, ainsi que les droits qu’il peut faire valoir
                            contre elle en indiquant, le cas échéant, leur nature et leur valeur.
                            29.3 Un administrateur peut, même dans l’exercice de ses fonctions, acquérir,
                            directement ou indirectement, des droits dans les biens de l’organisme ou
                            contracter avec lui, pour autant qu’il signale aussitôt ce fait à l’organisme, en
                            indiquant la nature et la valeur des droits qu’il acquiert, et qu’il demande que ce
                            fait soit consigné au procès-verbal des délibérations du conseil d’administration.
                            29.4 L’administrateur ainsi intéressé dans une acquisition de biens ou un contrat doit,
                            sauf nécessité, s’abstenir de délibérer et de voter sur la question. S’il vote, sa
                            voix ne doit pas être comptée. Cette règle ne s’applique pas, toutefois, aux
                            questions concernant ses conditions de travail.
                            29.5 À la demande du président ou de tout administrateur, l’administrateur intéressé
                            doit quitter la réunion pendant que le conseil d’administration délibère et vote sur
                            l’acquisition ou le contrat en question.
                            29.6 Ni l’organisme ni l’un de ses membres ne pourront contester la validité d’une
                            acquisition de biens ou d’un contrat impliquant, d’une part, l’organisme et, d’autre
                            part, directement ou indirectement un administrateur, pour le seul motif que
                            l’administrateur y est partie ou intéressé, du moment que cet administrateur a
                            procédé sans délai et correctement à la dénonciation mentionnée plus avant au
                            présent règlement.
                        </p>

                      </mat-step>
                      <mat-step label="Article 30 - DEVOIRS DES ADMINISTRATEURS"  [completed]="false">
                          <p>
                              Le conseil d’administration est élu pour administrer toutes les affaires courantes de
                              l’organisme.
                              a) Il se donne une structure interne en désignant parmi les administrateurs élus
                              un président, un vice-président, un secrétaire et un trésorier, et des
                              administrateurs, selon le cas;
                              b) Il accomplit tous les actes nécessaires à la réalisation des buts que poursuit
                              l’organisme conformément à la loi et aux règlements généraux et adopte les
                              résolutions qui s’imposent, pour réaliser les buts de l’organisme;
                              c) Sans déroger en aucune façon à ce qui précède, le conseil d’administration
                              est expressément autorisé en tout temps à acheter, louer ou acquérir à
                              quelque autre titre que ce soit, vendre, échanger, ou aliéner à quelque autre
                              titre que ce soit, les biens mobiliers et immobiliers, réels, personnels ou
                              mixtes, de même que tout droit ou intérêt s’y rapportant, pour le prix et
                              suivant les termes et conditions qu’il estime justes;
                              d) Il prend les décisions concernant l’engagement des employés, les achats et
                              les dépenses qu’il peut autoriser, les contrats et les obligations où il peut
                              s’engager. Un budget annuel doit être déposé à l’assemblée annuelle des
                              membres;
                              e) Il détermine les conditions d’admission des membres en fonction des
                              règlements généraux;
                              f) Il voit à ce que les règlements soient appliqués et les résolutions exécutées.
                          </p>

                        </mat-step>
                        <mat-step label="Article 31 - ASSEMBLÉES DU CONSEIL D’ADMINISTRATION"  [completed]="false">
                            <p>
                                31.1 Les administrateurs se réunissent aussi souvent que nécessaire, mais au moins
                                trois (3) fois par année.
                                31.2 Le secrétaire envoie ou donne les avis de convocation. Le président, en
                                consultation avec les autres administrateurs, fixe la date des assemblées. Si le
                                président néglige ce devoir, la majorité des administrateurs peuvent, sur
                                demande écrite au secrétaire, ordonner la tenue d’une réunion du conseil et en
                                fixer la date, l’heure et l’endroit ainsi qu’en établir l’ordre du jour. La date peut
                                également être fixée à la fin d’une réunion du conseil d’administration; dans ce
                                cas, le secrétaire n’est tenu d’aviser que les administrateurs absents à cette
                                dernière. Les réunions sont normalement tenues au siège social de l’organisme
                                ou à tout autre endroit désigné par le président ou le conseil d’administration.
                                31.3 L’avis de convocation peut être écrit ou verbal. Cet avis peut aussi se donner par
                                télécopieur, par courrier électronique à la dernière adresse connue de
                                l’administrateur. Sauf exception, le délai de convocation est d’au moins deux (2)
                                jours francs avant la réunion. Toute convocation verbale ou téléphonique doit
                                être suivie d’une renonciation écrite, si applicable. Si tous les administrateurs du
                                conseil sont réunis, ils peuvent, s’ils sont d’accord, décréter qu’il y a réunion
                                officielle et alors l’avis de convocation n’est pas nécessaire, les membres signant
                                tous une renonciation à cet effet afin d’éviter des doutes sur la valeur de cette
                                réunion. L’assemblée du conseil d’administration tenue immédiatement après
                                l’assemblée annuelle des membres peut l'être sans avis de convocation. La
                                présence d’un administrateur à une assemblée couvre le défaut d’avis quant à
                                cet administrateur.
                                31.4 Le quorum pour la tenue des assemblées du conseil d’administration est fixé à
                                plus de cinquante pour cent (50 %) des administrateurs. Le quorum doit être
                                maintenu pour toute la durée de l’assemblée.
                                31.5 Une assemblée du conseil d’administration est présidée par le président de
                                l’organisme ou, à son défaut, par le vice-président. C’est le secrétaire de
                                l’organisme qui agit comme secrétaire de l'assemblée. À leur défaut, les
                                administrateurs choisissent parmi eux un président et un secrétaire d’assemblée.
                                31.6 Le président de l’assemblée veille au bon déroulement de celle-ci et, en général,
                                conduit les procédures sous tous rapports. Il soumet au conseil d'administration
                                les propositions sur lesquelles un vote doit être pris. L’ordre du jour de toute
                                assemblée du conseil d’administration est présumé prévoir une période pendant
                                laquelle les administrateurs peuvent soumettre leurs propositions. À défaut par le
                                président de l’assemblée de s’acquitter fidèlement de sa tâche, les
                                administrateurs peuvent à tout moment le remplacer par une autre personne.
                                31.7 Chaque administrateur a droit à une (1) voix et toutes les questions doivent être
                                décidées à la majorité simple. Le vote est pris à main levée, à moins que le
                                président de l’assemblée ou un administrateur demande le scrutin, auquel cas le
                                vote est pris par scrutin. Si le vote est pris par scrutin, le secrétaire de
                                l’assemblée agit comme scrutateur et dépouille le scrutin. Le vote par procuration
                                n’est pas permis. S’il y a égalité des voix lors d’un vote, le président est autorisé
                                à le reporter à une prochaine assemblée. En toute occasion, le président doit
                                maintenir le statu quo en cas d'égalité.
                                31.8 Une résolution écrite, signée par tous les administrateurs, est valide et a le
                                même effet que si elle avait été adoptée à une assemblée du conseil
                                d’administration dûment convoquée et tenue. Une telle résolution doit être
                                insérée dans le registre des procès-verbaux de l’organisme, suivant sa date, au
                                même titre qu’un procès-verbal régulier.
                                31.9 Si tous les administrateurs y consentent, ils peuvent participer à une assemblée
                                du conseil d’administration à l’aide de moyens permettant à tous les participants
                                de communiquer entre eux en temps réel. Ils sont alors réputés avoir assisté à
                                l’assemblée.
                                31.10 Seul un membre de l'organisation peut consulter les procès-verbaux du conseil
                                d'administration et ce, en préservant la confidentialité dudit procès verbal.
                                31.11 Qu’il y ait quorum ou non, une assemblée du conseil d’administration peut être
                                ajournée en tout temps par le président de l’assemblée ou par un vote majoritaire
                                des administrateurs présents, et cette assemblée peut être tenue comme
                                ajournée sans qu’il soit nécessaire de la convoquer à nouveau.
                                31.12 L’ordre du jour doit se limiter aux sujets mentionnés dans l’avis de convocation. Il
                                doit être connu par tous les administrateurs avant la tenue de l’assemblée.
                            </p>

                          </mat-step>

        <h2>V OFFICIERS</h2>

        <mat-step label="Article 32 - OFFICIERS DE L’ORGANISME"  [completed]="false">
          <p>
              32.1 Les officiers de l’organisme sont le président, le vice-président, le secrétaire, le
              trésorier ainsi que tout autre administrateur dont le titre et les fonctions peuvent
              être déterminés par résolution de l’assemblée générale ou du conseil
              d’administration. Une même personne peut cumuler plusieurs postes d’officiers.
              32.2 Les officiers de l’organisme sont élus, avec le titre de leurs fonctions, par
              l’assemblée générale annuelle.
              32.3 Les officiers ne sont pas rémunérés pour leurs services.
              32.4 Les officiers de l’organisme sont élus tel que spécifié à l’Article 22 des présents
              règlements. Chaque officier sera en fonction à compter de son élection jusqu’à la
              première assemblée du conseil d’administration suivant la prochaine élection des
              administrateurs ou jusqu’à ce que son successeur soit élu ou nommé et qualifié.
              32.5 Les officiers sont sujets à destitution par la majorité du conseil d’administration
              tel que spécifié à l'Article 26 des présents règlements.
              32.6 Tout officier peut se retirer ou démissionner en tout temps en remettant un avis
              écrit au président ou au secrétaire ou lors d’une assemblée du conseil
              d’administration. Tout retrait ou vacance dans un poste d’officier peut être rempli
              en tout temps par le conseil d’administration, conformément aux dispositions
              spécifiées aux Articles 24 et 25 du présent règlement; l’officier ainsi nommé reste
              en fonction pour la durée non écoulée du mandat de la personne qu’il remplace.
              32.7 Les officiers ont tous les pouvoirs et les devoirs ordinairement inhérents à leur
              charge, sous réserve des dispositions de la loi ou des règlements, et ils ont en
              plus les pouvoirs et devoirs que le conseil d’administration leur délègue. Les
              pouvoirs des officiers peuvent être exercés par toute autre personne
              spécialement nommée par le conseil d’administration à cette fin, en cas
              d’incapacité d’agir de ces officiers.
              32.8 Le président préside de droit toutes les assemblées de l'organisme, à moins
              dans ce dernier cas qu’un président d’assemblée soit nommé et exerce cette
              fonction. Le président de l'organisme fait partie d’office de tous les comités
              d’étude et des services de l’association. Il surveille, administre et dirige les
              activités de l’organisme, voit à l’exécution des décisions du conseil
              d’administration. C’est lui qui signe généralement avec le secrétaire ou le
              trésorier tous les documents officiels de l'organisme et remplit tous les devoirs
              qui peuvent, de temps à autre, lui être attribués par le conseil d’administration. Il
              est désigné pour s’occuper des relations publiques de l’organisme.
              32.9 Le vice-président remplace le président en son absence ou si celui-ci est
              empêché d’agir. Il exerce alors toutes les prérogatives du président. S’il y a

              plusieurs vice-présidents, il y aura alors un premier et un deuxième vice-
              président pouvant, selon l’ordre, remplacer le président.

              32.10 Le secrétaire assiste aux assemblées des membres et du conseil
              d’administration, et rédige tous les procès-verbaux. Il remplit toutes les fonctions
              qui lui sont attribuées par les présents règlements ou par le conseil
              d’administration. Il a la garde des archives, des livres des procès-verbaux, du
              sceau de l’organisme et de tous les autres registres corporatifs. Il est chargé
              d’envoyer les avis de convocation aux administrateurs et aux membres. Il signe
              les contrats et les documents pour les engagements de l’organisme avec le
              président, rédige les rapports requis par diverses lois et la correspondance de
              l’organisme. L’ensemble ou une partie des pouvoirs du secrétaire peut être
              délégué par le conseil d’administration à un employé de l’organisme. Cependant,
              le secrétaire reste toujours responsable.
              32.11 Le trésorier a la charge et la garde des fonds de l’organisme et de ses livres de
              comptabilité. Il veille à l’administration financière de l’organisme. Il signe, avec le
              président, les chèques et autres effets de commerce et il effectue les dépôts.
              Tout chèque payable à l’organisme doit être déposé au compte de l’organisme.
              Le trésorier doit laisser examiner les livres et comptes de l’organisme par les
              administrateurs. Le conseil d’administration peut désigner tout autre membre du
              conseil pour exercer cette fonction. L’ensemble ou une partie des pouvoirs du
              trésorier peut être délégué par le conseil d’administration à un employé de
              l’organisme. Cependant, le trésorier reste toujours responsable.
      </p>
        </mat-step>
        <mat-step label="Article 33 - COMITÉS ET RESSOURCES PROFESSIONNELLES"  [completed]="false">
          <p>
              33.1 Les commissions, comités ou sous‐comités sont des organes de l’organisme qui
              pourront être formés par le conseil d’administration pour réaliser certains
              mandats ou études jugés utiles et nécessaires à la bonne marche des affaires
              courantes de l’organisme. Au moment de leur création, le conseil
              d’administration fixe leurs mandats et détermine les modalités de
              fonctionnement. Les commissions, comités ou sous-comités sont dissous
              aussitôt leurs mandats accomplis. Le conseil d’administration n’est pas tenu de
              donner suite aux recommandations des commissions, comités ou sous-comités,
              mais il doit permettre à tous les membres de l’organisme de prendre
              connaissance du rapport qu’il a commandé. Toute personne occupant une
              fonction pour le compte de l’organisme doit être mandatée par le conseil
              d’administration pour remplir ce mandat et doit présenter un rapport à cet effet.
              33.2 S’il le juge nécessaire, le conseil d’administration peut, par simple résolution,
              faire appel à des professionnels (ex. : notaire, architecte, avocat, ingénieur,
              technicien et tout autre spécialiste) pour l’aider à atteindre les buts de
              l’organisme.
          </p>

        </mat-step>
        <mat-step label="Article 34 - COMITÉ EXÉCUTIF"  [completed]="false">
            <p>
                Le conseil d'administration actuel cumule aussi les tâches et devoirs du comité
                exécutif. Lorsque viendra le moment de former un comité exécutif, il sera composé des
                membres du conseil d'administration et des membres additionnels qu'il jugera
                nécessaire.
            </p>
                  </mat-step>


      <h2>VI DISPOSITIONS FINANCIÈRES</h2>

          <mat-step label="Article 35 - EXERCICE FINANCIER"  [completed]="false">
            <p>
                L’exercice financier de l’organisme se termine le 31 août de chaque année ou à toute
                autre date fixée par résolution du conseil d’administration.
            </p>
          </mat-step>
          <mat-step label="Article 36 - VÉRIFICATEUR"  [completed]="false">
            <p>
                36.1 Les états financiers peuvent être vérifiés chaque année par un ou des
                vérificateurs nommés à cette fin lors de l’assemblée annuelle. S’il y a lieu, la
                rémunération de cette ou de ces personnes est fixée par les membres, ou par le
                conseil d’administration si ce pouvoir lui est délégué par les membres.
                36.2 Aucun administrateur ou officier de l’organisme ni aucune personne qui est leur
                associée ne peut être nommé vérificateur. Notons qu’un tel exercice demeure
                facultatif pour l’organisation.
                36.3 Les livres comptables de l’organisme seront gardés à jour durant tout l’exercice
                et soumis à une vérification le plus tôt possible à la fin de chaque exercice
                financier. Ces livres peuvent être consultés sur place par le comité de vérification
                de l’organisme chaque fin de trimestre, sur rendez-vous avec le trésorier.
            </p>

          </mat-step>
          <mat-step label="Article 37 - EFFETS BANCAIRES"  [completed]="false">
              <p>
                  37.1 Tous les chèques, billets, traites, lettres de change et autres effets bancaires,
                  connaissements, endossements et autres effets de commerce, contrats, actes et
                  documents requérant la signature de l’organisme sont signés par le président ou
                  le vice-président, conjointement avec le secrétaire ou le trésorier, deux (2)
                  signatures étant nécessaires. Toutefois, le conseil d’administration peut
                  désigner, par résolution, tout autre de ses membres pour exercer cette fonction.
                  37.2 Tout administrateur signataire n’occupant plus cette fonction n’aura plus le droit
                  de signature. De ce fait, après chaque élection du conseil d’administration, la
                  liste des signataires doit être mise à jour.
                  37.3 Tout chèque payable à l’organisme devra être déposé au crédit de l’organisme
                  auprès de la ou des banques, caisses populaires ou compagnies de fiducie que
                  le conseil d’administration désignera par résolution au secrétaire ou au trésorier
                  de l’organisme.
              </p>
                    </mat-step>


        <h2>VII AUTRES DISPOSITIONS</h2>

            <mat-step label="Article 38 - DÉCLARATIONS EN COUR"  [completed]="false">
              <p>
                  Le président, le vice-président, le secrétaire ou le trésorier, ou tout autre administrateur
                  ou personne à cet effet autorisé par le conseil d’administration, sont autorisés et
                  habilités à répondre pour l’organisme à tous brefs, ordonnances et interrogatoires sur
                  faits et articles émis par toute cour, à répondre au nom de l’organisme à toute saisie-
                  arrêt et à déclarer au nom de l’organisme sur toute saisie-arrêt dans laquelle l’organisme

                  est tierce saisie, à faire tout affidavit ou déclaration assermentée en relation avec telle
                  saisie-arrêt ou en relation avec toute procédure à laquelle l’organisme est partie, à faire
                  des demandes de cessions de biens ou des requêtes pour ordonnances de liquidation
                  ou de séquestre contre tout débiteur de l’organisme, de même qu’à être présents et à
                  voter à toute assemblée de créanciers des débiteurs de l’organisme et à accorder des
                  procurations relatives à ces procédures.
              </p>
            </mat-step>
            <mat-step label="Article 39 - DÉCLARATIONS AU REGISTRE"  [completed]="false" >
              <p>
                  Les déclarations devant être produites au Registraire des entreprises du Québec selon
                  la Loi sur la publicité légale des entreprises individuelles, des sociétés et des personnes
                  morales sont signées par le président, tout administrateur de l’organisme ou toute autre
                  personne autorisée à cette fin par résolution du conseil d’administration. Tout
                  administrateur ayant cessé d’occuper ce poste par suite de son retrait, de sa démission,
                  de sa destitution ou autrement est autorisé à signer au nom de l’organisme et à produire
                  une déclaration modificative à l’effet qu’il a cessé d’être administrateur, à compter de
                  quinze (15) jours après la date où cette cessation est survenue, à moins qu’il reçoive
                  une preuve que l’organisme a produit une telle déclaration.
              </p>

            </mat-step>
            <mat-step label="Article 40 - MODIFICATIONS AUX RÈGLEMENTS GÉNÉRAUX"  [completed]="false">
                <p>
                    40.1 Le conseil d’administration a le pouvoir d’abroger ou de modifier toute disposition
                    du présent règlement, qui sera en vigueur dès son adoption jusqu’à la prochaine
                    assemblée annuelle.
                    40.2 Conformément aux dispositions de la Loi sur les compagnies, toute abrogation
                    ou modification doit, par la suite, être ratifiée par les deux tiers (2/3) des
                    membres présents, ayant droit de vote, lors de l’assemblée générale annuelle de
                    l’organisme, à moins que dans l’intervalle elle soit ratifiée lors d’une assemblée
                    extraordinaire convoquée à cette fin.
                    40.3 Le texte de toute modification aux lettres patentes ou aux règlements de
                    l’organisme doit être expédié avec l'avis de convocation de l'assemblée au cours
                    de laquelle il sera soumis aux membres pour ratification.
                    40.4 Si l’abrogation ou la modification aux règlements généraux est rejetée ou n’est
                    pas ratifiée lors de ladite assemblée, elle cessera, mais à partir de ce jour
                    seulement, d’être en vigueur.
                </p>
                </mat-step>
                <mat-step label="Article 41 - DISSOLUTION ET LIQUIDATION"  [completed]="false">
                    <p>
                        41.1 La dissolution de l’organisme doit être approuvée et adoptée par les deux tiers
                        (2/3) des membres votants lors d’une assemblée extraordinaire convoquée à
                        cette fin. Lors de cette assemblée, les membres auront à définir les modalités de
                        dissolution et de liquidation des biens de l’organisme en respect du présent
                        article, de la troisième loi sur les compagnies et des obligations à remplir auprès
                        du Registraire des entreprises du Québec, ceci après paiement des dettes.
                        41.2 En cas de dissolution ou de liquidation, les biens et les fonds de l’organisme
                        seront dévolus, après la décision des membres prise en assemblée
                        extraordinaire, soit à un organisme ayant la même mission que lui, soit à un (1)
                        ou plusieurs organismes exerçant une activité analogue sur le territoire de la ville
                        de Montréal.
                    </p>

                  </mat-step>
                  <mat-step label="Article 42 - RÈGLES DE PROCÉDURE"  [completed]="false">
                      <p>
                          Sous réserve de l’acte constitutif et des règlements de l’organisme, le conseil
                          d’administration peut adopter tout règlement pour régir la procédure de toute assemblée
                          du conseil d’administration. En l’absence de règles de procédure sur un point donné, un
                          code de procédure devrait être déterminé par le conseil d’administration et s’appliquer à
                          toute assemblée des instances de l’organisme.
                      </p>
                    </mat-step>

          </mat-vertical-stepper>
