<div  rtl>
  <h4 *ngIf="(myLogos$|async)?.length == 0" [ngStyle]="{'text-align':'center'}">Veuillez ajoutez des éléments</h4>

    <div class="flexDiv">

      <mat-card *ngFor="let logo of myLogos$ | async;let i = index; trackBy:trackByIndex;"
         data-testid="crud-item"
        [ngClass]="logo.style + ' routeAnimationsElements'" >

      <mat-card-header>
        Moyenne des votes
      </mat-card-header>
      <mat-card-content>
        <mat-slider class="col-sm-2"
        class="example-margin"
        [max]="5"
        [min]="1"
        [step]="1"
        [thumbLabel]="false"
        [tickInterval]="1"
        [vertical]="false"
        [value]="logo.avg"
        [disabled]="true"
        ></mat-slider>
      </mat-card-content>


        <div class="flex">
          <h4  class="col-sm-10" data-testid="item-title">{{logo.texte}}</h4>
          <mat-slider class="col-sm-2"
          class="example-margin"
          [max]="5"
          [min]="1"
          [step]="1"
          [thumbLabel]="true"
          [tickInterval]="1"
          [vertical]="true"
          [value]="logo.niveauDaccord"
          (change)="onInputChange($event,i)"
          >
          </mat-slider>
        </div>


          <textarea matInput maxlength="300" name="text-{{i}}"  placeholder="Commentaires"  (keyup)="onTextInputChange($event,i)">{{logo.commentaire}}</textarea>

        <!--

        <mat-form-field class="example-full-width">
          <textarea matInput maxlength="10" name="x-{{i}}"  placeholder="x"  [(ngModel)]="logo.x"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput maxlength="10" name="y-{{i}}"  placeholder="y"  [(ngModel)]="logo.y"></textarea>
        </mat-form-field>
        -->
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="launch(i)">Envoyer</button>
          <button mat-raised-button color="warn" (click)="delete(logo)" *ngIf="authName == 'malric.philippe@gmail.com'">Supprimer</button>
        </mat-card-actions>

      </mat-card>


    </div>
